#artistColumn {
    width: 225px;
    margin-left: 40px;
}

#priceColumn {
    width: 100px;
}

#removeColumn {
    width: 80px;
}

#albumItems .item {
    overflow-x: auto;
}

.title {
    font-size: 20px;
    margin-bottom: 5px;
    color: #bbb;
}

.column {
    float: left;
    width: 200px;
    margin: 1px 0;
}

.slightlyGreen {
    color: #96ff92;
}

#cartInfo #albumItems {
    display: inline-block;
    min-height: 50px;
}

#item {
    margin-left: 15px;
}

#cartInfo #formCheckout {
    margin-top: 8px;
}

button#checkout, button#clearCart {
    margin-left: 0;
}

button.remove {
    margin: 0;
    padding: 0 10px;
}

#cartInfo {
    padding: 25px;
}

a.remove:hover {
    text-decoration: underline;
}

.cartContainer {
    position: fixed;
    margin: 0 auto !important;
    width: 810px;
    z-index: 2;
}

.cart {
    margin: 0 1px 1px;
    border: 1px solid rgba( 0, 0, 0, 0);
    background: linear-gradient(to bottom, rgba(22,22,22, 0.95), rgba(22,22,22, 0.85));
}

.cart .info {
    margin: 16px;
}

.cart .info div {
    width: 100%;
}