* {
    font-family: "Source Sans Pro", "Lucida Sans Unicode";
}

body {
    background: #eee;
}

a {
	text-decoration: none;
    color: #000;
}

h3, h4 {
    margin: 0 0px 10px 0;
}

.fixed {
    position: fixed;
}

.whiteText {
    color: #fff;
}

.slightlyRed {
    color: #f65a5a;
}

.header {
    background: #161616; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(22,22,22,0.8) 0%, rgba(45,45,45,0.95) 94%, #565656 96%, #686868 98%, #aaaaaa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22,22,22,0.95)), color-stop(94%,rgba(45,45,45,0.8)), color-stop(96%,#565656), color-stop(98%,#686868), color-stop(100%,#aaaaaa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(22,22,22,0.8) 0%,rgba(45,45,45,0.95) 94%,#565656 96%,#686868 98%,#aaaaaa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(22,22,22,0.8) 0%,rgba(45,45,45,0.95) 94%,#565656 96%,#686868 98%,#aaaaaa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(22,22,22,0.8) 0%,rgba(45,45,45,0.95) 94%,#565656 96%,#686868 98%,#aaaaaa 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(22,22,22,0.8) 0%,rgba(45,45,45,0.95) 94%,#565656 96%,#686868 98%,#aaaaaa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */
    z-index: 1000;

}

.footer {
    background: #161616; /* Old browsers */
    background: -moz-linear-gradient(top,  #aaaaaa 0%, #686868 2%, #565656 4%, rgba(45,45,45,0.95) 6%, rgba(22,22,22,0.8) 100%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaaa), color-stop(2%,#686868), color-stop(4%,#565656), color-stop(6%,rgba(45,45,45,0.95)), color-stop(100%,rgba(22,22,22,0.8)), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #aaaaaa 0%,#686868 2%,#565656 4%,rgba(45,45,45,0.95) 6%,rgba(22,22,22,0.8) 100%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #aaaaaa 0%,#686868 2%,#565656 4%,rgba(45,45,45,0.95) 6%,rgba(22,22,22,0.8) 100%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #aaaaaa 0%,#686868 2%,#565656 4%,rgba(45,45,45,0.95) 6%,rgba(22,22,22,0.8) 100%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #aaaaaa 0%,#686868 2%,#565656 4%,rgba(45,45,45,0.95) 6%,rgba(22,22,22,0.8) 100%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    z-index: 1000;
}

.bar {
    width: 100%;
    height: 50px;
}

ul#list {
    float: left;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul#list li#navContent {
    text-decoration: none;
    width: 1110px;
    height: 50px;
    margin: 0 auto !important;
}

li#navContent div.item {
    display: inline-block;
    float: left;
    height: 100%;
}

li#navContent div.logoBlock {
    width: 225px;
    font-size: 32px;
    margin-top: 3px;
}

li#navContent div.searchBlock {
    position: relative;
    width: 350px;
    margin-top: 9px;
}

li#navContent div.searchBlock #searchBar {
    border: 1px solid #444;
    border-radius: 0;
    padding: 3px;
    -moz-box-shadow: inset 0 0 4px #777;
    -webkit-box-shadow: inset 0 0 4px #777;
    box-shadow: inset 0 0 4px #777;
}

li#navContent div.searchBlock div#searchButton {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
}

li#navContent div.cartBlock {
    width: 145px;
    text-align: right;
    margin-top: 12px;
    margin-right: 10px;
}

a.cartBox:hover {
    text-decoration: underline;
}

li#navContent div.loginBlock {
    display: inline-block;
    width: 375px;
}

div.loginBlock form {
    float: right;
    display: inline-block;
    width: 305px;
    margin-top: 12.5px;
    margin-right: 2px;
}

div.loginBlock form input {
    float: right;
}

div.loginBlock form .textBox {
    width: 105px;
    margin-top: 3px;
    margin-right: 5px;
}

#whiteText {
    color: #fff;
}

.loginButton {
    background: none;
    border: none;
    font-size: 16px;
    margin-top: 2px;
    padding: 0;
}

.loginButton:hover {
    text-decoration: underline;
}

.register {
    float: right;
    font-size: 13px;
    margin-top: 18px;
}

.register:hover {
    text-decoration: underline;
}

body {
    margin: 0px;
    padding: 0px;
}

.contentBody {
    position: relative;
    width: 1110px;
    margin: 0 auto !important;
    padding-top: 50px;
}

div#album h4 {
    margin-left: 15px;
    margin-bottom: 5px;
}

#searchGallery {
    float: left;
}

#gallery {
    float: left;
    background: #fff;
    box-shadow: 0 0 60px rgba(0,0,0, 0.35);
}

.rightSidebar {
    position: absolute;
    right: 5px;
    width: 280px;
    height: 600px;
	padding-top: 25px;
}

.musicPlayer {
    height: 400px;
}

.playerArt {
    width: 278px;
    height: 278px;
    border: 1px solid rgba(204, 204, 204, 1.0);
}

img#playerArt {
    width: 278px;
    height: 278px;
}

.user {
    float: right;
    margin-top: 16px;
    margin-left: 10px;
}

.logout {
    float: right;
    width: 40px;
    margin-top: 18px;
    font-size: 13px;
}

.logout:hover {
    text-decoration: underline;
}

.showLine:hover {
    text-decoration: underline;
}

.username {
    text-align: right;
    width: 200px;
}

.footer {
    bottom: 0px;
	width: 100%;
    height: 40px;
}

#basic-modal-content {
    display:none;
}

/* Overlay */
#simplemodal-overlay {
    background-color:#000;
}

/* Container */
#simplemodal-container {
    height:360px;
    width:600px;
    color:#bbb;
    background-color:#333;
    border:2px solid #444;
    padding:12px;
}

#simplemodal-container .simplemodal-data {
    padding:8px;
}

#simplemodal-container code {
    background:#141414;
    border-left:2px solid #65B43D;
    color:#bbb;
    display:block;
    font-size:16px;
    margin-bottom:12px;
    padding:4px 6px 6px;
}

#simplemodal-container a {
    color:#ddd;
}

#simplemodal-container a.modalCloseImg {
    background:url(../res/image/newX.png) no-repeat;
    width:25px;
    height:29px;
    display:inline;
    z-index: 500;
    position:absolute;
    top:-15px;
    right:-16px;
    cursor:pointer;
}

#simplemodal-container h3 {
    color:#84b8d9;
}

#overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.3;

}

#modal {
    position: absolute;
    padding:8px;
    z-index: 2;
}

#content {
    height:380px;
    width:600px;
    color:#bbb;
    background-color: rgba(40,40,40,0.95);
    padding:12px;
}

#close {
    position:absolute;
    background: url(../res/image/newX.png) 0 0 no-repeat;
    background-size: 15px 15px;
    width:15px;
    height:15px;
    display:block;
    text-indent:-9999px;
    top: 15px;
    right: 15px;
}

.registerBlock {

}

.registerBlock form {
    display: inline-block;
    padding: 2px;
}

.registerBlock form input {
    float: left;
    width: 200px;
    margin-right: 100px;
    font-size: 16px;
}

.registerBlock form .label {
    float: left;
    width: 150px;
    margin-left: 50px;
    color: #fff;
}

.registerInfo h2{
    margin: 10px 20px 10px 20px;
    color: #fff;
}