* {
    font-family: "Source Sans Pro", "Lucida Sans Unicode";
}

a {
	text-decoration: none;
    color: #000;
}

.fixed {
    position: fixed;
}

.header, .footer {
    background-color: #222;
    z-index: 500;
}

.bar {
    width: 100%;
    height: 50px;
}

ul#list {
    float: left;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul#list li#navContent {
    text-decoration: none;
    width: 1110px;
    height: 50px;
    margin: 0 auto !important;
}

li#navContent div.item {
    display: inline-block;
    float: left;
    height: 100%;
}

li#navContent div.logoBlock {
    width: 250px;
    font-size: 32px;
    margin-top: 3px;
}

li#navContent div.searchBlock {
    position: relative;
    width: 350px;
    margin-top: 9px;
}

li#navContent div.searchBlock div#searchButton {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
}

li#navContent div.cartBlock {
    width: 150px;
    text-align: right;
    margin-top: 16px;
    margin-right: 20px;
}

li#navContent div.loginBlock {
    width: 300px;
    margin-top: 13px;
}

#whiteText {
    color: #fff;
}

body {
    margin: 0px;
    padding: 0px;
}

.contentBody {
    position: relative;
    width: 1110px;
    margin: 0 auto !important;
    padding-top: 50px;
}

#gallery {
    float: left;
    margin-top: 40px;
}

.rightSidebar {
    position: absolute;
    right: 10px;
    width: 280px;
	margin-top: 40px;
}

.musicPlayer {
    position: fixed;
}

.playerArt {
    width: 225px;
    height: 225px;
    border: 1px solid rgba(204, 204, 204, 1.0);
}

.footer {
    bottom: 0px;
	width: 100%;
    height: 40px;
}

#basic-modal-content {
    display:none;
}

/* Overlay */
#simplemodal-overlay {
    background-color:#000;
}

/* Container */
#simplemodal-container {
    height:360px;
    width:600px;
    color:#bbb;
    background-color:#333;
    border:4px solid #444;
    padding:12px;
}

#simplemodal-container .simplemodal-data {
    padding:8px;
}

#simplemodal-container code {
    background:#141414;
    border-left:3px solid #65B43D;
    color:#bbb;
    display:block;
    font-size:12px;
    margin-bottom:12px;
    padding:4px 6px 6px;
}

#simplemodal-container a {
    color:#ddd;
}

#simplemodal-container a.modalCloseImg {
    background:url(../res/image/x.png) no-repeat;
    width:25px;
    height:29px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-15px;
    right:-16px;
    cursor:pointer;
}

#simplemodal-container h3 {
    color:#84b8d9;
}

#overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    filter:alpha(opacity=50);
}

#modal {
    position:absolute;
    background:url(tint20.png) 0 0 repeat;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
}

#content {
    height:360px;
    width:600px;
    color:#bbb;
    background-color:#333;
    border:4px solid #444;
    padding:12px;
}

#close {
    position:absolute;
    background:url(../res/image/x.png) 0 0 no-repeat;
    width:24px;
    height:27px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
}
