@font-face {
    font-family: 'bpreplay';
    font-weight: normal;
    font-style: normal;
    src: url('BPreplay-webfont.eot');
    src: local('☺'), url('BPreplay-webfont.woff') format('woff'), url('BPreplay-webfont.ttf') format('truetype'), url('BPreplay-webfont.svg#webfontgzJ8Cr4g') format('svg');
}

#albumInfo {
    display: inline-block;
    font-size: 14px;
}

#albumInfo div {
    float: left;
}

ol li a {
    margin: 0 0 0 4px;
}

#nowPlaying h3 {
    float: left;
    margin: 5px 0 0 6px;
}

#albumInfo div .spacing {
    margin: 4px 12px;
}

#albumInfo #album {
    width: 100%;
}

#albumInfo #artist {
    display: inline-block;
}

#albumInfo #artist * {
    float: left;
}

#albumInfo #artist span {
    margin-left: 20px;
    margin-right: 4px;
}

#albumInfo #artist h4 {
    margin-left: 0;
}

#albumInfo #songList {
    width: 100%;
    margin: 0;
    padding-top: 5px;
}

#albumInfo div#genrePlayer {
    margin-top: 6px;
}

#albumInfo #description, #albumInfo #releaseDate {
    width: 260px;
    padding: 2px 10px;
}

#albumInfo .info {
    width: 260px;
    padding: 8px 10px 2px;
}

#songList ol {
    padding-left: 36px;
}

#songList ol li {
    width: 100%;
}

.audiojs {
    top: 270px;
    width: 278px;
}

.audiojs .scrubber {
    width: 140px;
}

.download {
    background: url('./divider.png') top center no-repeat, url('./divider.png') bottom center no-repeat;
    margin: 30px 0px;
    padding: 20px 0px;
    text-align: center;
}

.download a em {
    color: rgba(255, 255, 255, 0.8);
    font-style: normal;
}

.download a em:before {
    content: '⬇ ';
    font-size: 0.8em;
    padding: 0px 4px 0px 0px;
}

.download a {
    display: block;
    color: #f6f6f0;
    width: 190px;
    margin: 5px auto;
    padding: 8px 2px 8px 0px;
    font-size: 14px;
    border-bottom: 0px;
    background: #da1c5c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #da1c5c), color-stop(0.5, #C81C5C), color-stop(0.51, #da1c5c), color-stop(1, #da1c5c));
    background-image: -moz-linear-gradient(center top, #da1c5c 0%, #C81C5C 50%, #da1c5c 51%, #da1c5c 100%);
}